@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

html,
body {
  @apply w-full h-full;
}

canvas {
  image-rendering: pixelated;
}

.gutter {
  background-color: var(--color-gray-700);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}
